.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .fa-caret-right {
    display: none;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown .dropdown-content>* {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown-content>*:hover {
    background-color: rgb(36, 43, 78);
    color: #fff;
}

@media screen and (min-width: 800px) {
    .dropdown {
        position: relative;
    }

    .dropdown-content {
        width: max-content;
        position: absolute;
        top: var(--sideNav-heght);
    }
}