article {
    margin-top: 1rem;

    >* {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid black;
        max-width: 500px;
        padding: 15px;
        margin-inline: auto;

        table#menu {
            width: 100%;

            tbody tr {
                cursor: pointer;
                height: 1.8rem;

                &.selected,
                &.selected a {
                    background-color: #000;
                    color: #fff;
                }

                &:hover code,
                &.selected code {
                    color: #000;
                }

                span,
                a {
                    display: block;
                }
            }

            td,
            th {
                padding: 0 .5rem;
                width: 100%;
                text-align: start;
                font-weight: 400;
                border-bottom: 1px solid #cccccc;

                &:last-of-type {
                    text-align: end;
                    min-width: fit-content;
                }

                label {
                    width: 100%;
                    display: block;
                }

            }
        }
    }

    &.text>* {
        max-width: 800px;
    }
}


@media screen and (min-width: 800px) {
    article {
        width: calc(100% - var(--sideNav-width));

        >* table#menu tbody tr {

            &:hover,
            &:hover a {
                background-color: #8b8b8b;
                color: #fff;
            }
        }
    }
}