article {
    margin-top: 1rem;

    >* {
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid black;
        max-width: 500px;
        padding: 15px;
        margin-inline: auto;
    }

    .row {
        margin-bottom: 0.3rem;
        background-color: #fff;
        color: #000;

        label {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: .3rem 1rem;
            border-radius: 5px;

            .comando {
                flex: 1;
            }
        }
    }

    .listHeader {
        display: flex;
        align-items: center;
        padding: .3rem 1rem;

        .comando {
            flex: 1;
        }
    }

    input[type="radio"] {
        display: none;

        &:checked {

            &+.row label,
            &+.row a {
                background-color: #000;
                color: #fff;
            }

            &+.row code {
                color: #000;
            }
        }
    }

    &.text>* {
        max-width: 800px;
    }
}


@media screen and (min-width: 800px) {
    article {
        width: calc(100% - var(--sideNav-width));

        .row label {

            &:hover,
            &:hover a {
                background-color: #8b8b8b;
                color: #fff;

                & code {
                    color: #000;
                }
            }
        }
    }
}