header {
    background-color: #fff;
    box-shadow: 5px 1px 10px black;
    padding: 1rem .5rem .5rem;

    height: var(--header-height);
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
        margin: 0;
        text-wrap: wrap;
        flex: 1;
    }

    nav {
        background-color: rgba(255, 255, 255, 0.95);

        position: fixed;
        top: var(--header-height);
        right: 0;

        height: calc(100vh - var(--header-height));
        width: 0;
        transition: 0.5s;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;

        >a,
        .dropdown button {
            background-color: rgb(36, 43, 78);
            border: none;
            padding: 1rem;
            color: #fff;
            font-size: 1rem;
            width: 100%;
            box-sizing: border-box;
            height: 60px;
        }

        .dropdown {
            &:hover .dropdown-content {
                display: block;
            }

            .dropdown-content {
                display: none;
                position: relative;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;

                & a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        background-color: rgb(36, 43, 78);
                        color: #fff;
                    }
                }
            }
        }

        .fa-caret-left {
            display: none;
        }

        >a,
        >a:visited {
            color: #fff;
            text-decoration: none;
            text-align: center;
            display: block;
        }

    }

    #MenuToggle {
        font-size: 2.3rem;
        font-weight: bold;
        display: block;

        img {
            width: 40px;
            height: 40px;
        }
    }

    >input {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    header {
        height: var(--header-pc-height);
        padding: .5rem;

        h1 {
            max-width: initial;
            text-align: center;
        }

        nav {
            background-color: #fff;
            display: block;
            top: var(--header-pc-height);
            height: calc(100vh - var(--header-pc-height));
            width: var(--sideNav-width);
            overflow: visible;

            .dropdown {
                position: relative;

                .dropdown-content {
                    width: max-content;
                    position: absolute;
                    top: 0;
                    right: 295px;
                }
            }

            .fa-caret-left {
                display: inline-block;
            }

            .fa-caret-down {
                display: none;
            }
        }

        #MenuToggle {
            display: none;
        }
    }
}