@import 'header.css';
@import 'sections.css';
@import 'guias.css';

* {
    box-sizing: border-box;
    font-family: 'Roboto', monospace;
    scroll-behavior: smooth;

    --header-height: 140px;
    --header-pc-height: 60px;
    --sideNav-width: 295px;
    --footer-height: 150px;
}

body {
    background-color: rgb(26, 25, 51);
    padding: 0;
    margin: 0;
}

h2 {
    display: inline-flex;
    gap: 5px;
    margin: 0 0 .5rem;
}

a,
a:visited {
    color: #000;
}

main {
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.showPath {
    background-color: #000;
    color: #fff;
    font-size: 1.3rem;

    position: fixed;
    bottom: 0;
    right: 10px;

    overflow-y: hidden;
    height: 0;
    display: flex;
    align-items: center;

    span {
        padding: .3rem 1rem;
    }

    .command {
        color: #a0a0a0;
    }

    .keys {
        min-width: fit-content;
    }
}

.bold {
    font-weight: bold;
}

code {
    background-color: #dadada;
    padding: 3px;
    margin-inline: 3px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 1rem;
    text-wrap: nowrap;
}

footer {
    height: var(--footer-height);
    margin-top: var(--header-height);
    background-color: #fff;
    padding: 1rem;
    text-align: center;

    address {
        display: flex;
        flex-direction: column;
        width: max-content;
        margin: 0 auto;

        a {
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 10px;
        }
    }

    img {
        width: 30px;
        height: 30px;
    }
}

/* PC */
@media screen and (min-width: 1000px) {

    .showPath {
        bottom: 0;
        right: var(--sideNav-width);
    }
}