@import 'header.css';
@import 'article.css';
@import 'guias.css';

* {
    box-sizing: border-box;
    font-family: 'Roboto', monospace;
    scroll-behavior: smooth;

    --header-height: 140px;
    --header-pc-height: 60px;
    --sideNav-width: 295px;
    --footer-height: 150px;
}

body {
    background-color: rgb(26, 25, 51);
    padding: 0;
    margin: 0;
}

h2 {
    display: inline-flex;
    gap: 5px;
    margin: 0 0 .5rem;
    align-items: center;
}

a,
a:visited {
    color: #000;
}

main {
    height: calc(100vh - var(--header-height));
    overflow: auto;
}

#content {
    padding-bottom: 1rem;
    min-height: 100%;
}

.showPath {
    background-color: #000;
    color: #fff;
    font-size: 1.3rem;

    position: fixed;
    bottom: 0;
    right: 10px;

    overflow-y: hidden;
    height: 0;
    display: flex;
    align-items: center;

    span {
        padding: .3rem 1rem;
    }

    .command {
        color: #a0a0a0;
    }

    .keys {
        min-width: fit-content;
    }
}

.bold {
    font-weight: bold;
}

.sangria {
    margin-left: .5rem;
    padding-left: .5rem;

    &.line {
        border-inline-start: 1px solid #000;
    }
}

.cursorPointer {
    cursor: pointer;
}

.noTextSelection {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

details {
    &:first-of-type {
        margin-top: 1rem;
    }

    margin-bottom: 1rem;
}

code {
    background-color: #ececec;
    padding: 3px;
    border-radius: 2px;
    font-family: monospace;
    font-size: 1rem;
    text-wrap: nowrap;
    margin-block: 2px;
    display: inline-block;
    outline: 1px solid #8f8f8f;
    box-shadow: 2px 1px 10px #9b9b9b;
    height: min-content;
}

footer {
    height: var(--footer-height);
    background-color: #fff;
    padding: 1rem;
    text-align: center;

    address {
        display: flex;
        flex-direction: column;
        width: max-content;
        margin: 0 auto;

        a {
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 10px;
        }
    }

    img {
        width: 30px;
        height: 30px;
    }
}

/* PC */
@media screen and (min-width: 800px) {
    main {
        height: calc(100vh - var(--header-pc-height));
    }

    .showPath {
        bottom: .3px;
        right: var(--sideNav-width);
    }
}