footer {
    background-color: #fff;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

footer address {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: max-content;
    margin-inline: auto;
    margin-bottom: 1rem;
}

footer address img {
    width: 40px;
    height: 40px;
}