* {
    box-sizing: border-box;
    font-family: 'Roboto', monospace;
    scroll-behavior: smooth;

    --header-height: 100px;
    --header-pc-height: 60px;
}

body {
    background-color: rgb(26, 25, 51);
    padding: 0;
    margin: 0;
}

h2 {
    display: inline-flex;
    gap: 5px;
    margin: 0 0 .5rem;
}

a,
a:visited {
    color: #000;
}

header {
    background-color: #fff;
    position: fixed;
    height: var(--header-height);
    padding: 1rem .5rem .5rem;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 5px 1px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        margin: 0;
        text-wrap: wrap;
        max-width: 80%;
    }

    label {
        cursor: pointer;
        user-select: none;
    }

    nav {
        background-color: rgba(255, 255, 255, 0.95);
        display: none;
        position: absolute;
        top: var(--header-height);
        right: 0;
        width: 100%;
        height: calc(100vh - var(--header-height));

        ul {
            padding: 1rem 0;

            li {
                a {
                    width: 70%;
                    display: block;
                    margin: 0 auto;
                    padding: 1rem;

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }

        }
    }

    #MenuToggle {
        position: absolute;
        top: 10px;
        right: 10px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    >input {
        display: none;

        &:checked+nav {
            display: block;
        }
    }
}

section {
    padding-top: calc(var(--header-height) + 10px);

    >article {
        border-radius: 10px;
        border: 1px solid black;
        background-color: #fff;
        margin: 0 auto 1rem;
        max-width: 500px;
        padding: 15px;




        ul {
            list-style: none;
            padding: 0;

            li {
                width: 100%;
                border-bottom: .5px solid rgb(201, 201, 201);
                margin-bottom: 5px;

                input[type='radio'] {
                    display: none;

                    &:checked+label,
                    &:checked+label a {
                        background-color: #000;
                        color: #fff;
                    }
                }

                &:not(:first-of-type):hover,
                &:hover a {
                    background-color: #000;
                    color: #fff;
                    cursor: pointer;
                }

                label {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 5px;
                    cursor: pointer;


                    > :not(span) {
                        flex: 1;
                    }
                }
            }

            .first {
                display: flex;
                justify-content: space-between;
            }
        }
    }


}

nav ul,
section>div>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

.code {
    background-color: #dadada;
    padding: 3px 10px;
    border-radius: 5px;
    font-family: monospace;
    height: fit-content;
}

footer {
    margin-top: var(--header-height);
    background-color: #fff;
    padding: 1rem;
    text-align: center;

    address {
        display: flex;
        flex-direction: column;
        width: max-content;
        margin: 0 auto;

        a {
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 10px;
        }
    }

    img {
        width: 30px;
        height: 30px;
    }
}

/* PC */
@media screen and (min-width: 1000px) {
    header {
        height: var(--header-pc-height);
        padding: .5rem;

        h1 {
            max-width: initial;
            text-align: center;
        }

        nav {
            background-color: #fff;
            display: block;
            width: fit-content;
            padding: 0;
            padding: 20px 30px;
            top: var(--header-pc-height);
            height: calc(100vh - var(--header-pc-height));

            ul li a {
                width: 100%;

                padding: 10px;
            }
        }

        #MenuToggle {
            display: none;
        }
    }

    section {
        padding-top: calc(var(--header-pc-height) + 10px);
    }
}